.animation--container{
    min-height:10vh;
  }
  .bg{
    width:100%;
    position:relative;
    &--terrain{
      &__body{
      display:inline-flex;
      height:24px;
      width:calc(100% - 64px);
      background: url('~@/assets/gameAssets/body.png');
      background-size:contain;
      }
      &__tree{
        right:66px;
        top:-86px;
        position:absolute;
        display:inline-flex;
        height:86px;
        width:52px;
        background: url('~@/assets/gameAssets/tree.png');
        background-size:cover;
      }
      &__dummy{
        left:28px;
        top:-52px;
        position:absolute;
        display:inline-flex;
        height:52px;
        width:32px;
        background: url('~@/assets/gameAssets/dummy.png');
        background-size:cover;
        &__attack{
          animation: dummyAnimation 0.5s steps(5) infinite;
        }
      }
      &__building{
        right:16px;
        top:-86px;
        position:absolute;
        display:inline-flex;
        height:86px;
        width:52px;
        background: url('~@/assets/gameAssets/building.png');
        background-size:cover;
      }
      &__lend{
        display:inline-flex;
        height:24px;
        width:24px;
        background: url('~@/assets/gameAssets/left-end.png');
        background-size:contain;
      }
      &__rend{
        display:inline-flex;
        height:24px;
        width:24px;
        background: url('~@/assets/gameAssets/right-end.png');
        background-size:contain;
      }
    }
  }
  .ninja{
    margin-left:0.5rem;
    width:32px;
    height:52px;
    overflow:hidden;
    &--player{
      width:128px;
      height:52px;
      &__idle{
          animation: moveIdleSpriteSheet 0.5s steps(4) infinite;
      }
      &__attack{
          animation: moveIdleSpriteSheet 0.5s steps(4) infinite;
      }
    }
  }
  .pixelated{
    image-rendering: pixelated;
  }
  @keyframes moveIdleSpriteSheet {
    from{
      transform: translate3d(0px,0,0);
    }
    to {
      transform: translate3d(-100%,0,0);
    }
  }
  @keyframes dummyAnimation {
    0%{
      transform:rotate(0deg);
    }
    35%{
      transform:rotate(-1deg);
    }
    75%{
      transform:rotate(1deg);
    }
    100%{
      transform:rotate(0deg);
    }
  }