.nes-input{
    &::placeholder {
      font-size:0.9rem;
    }
  }
  .game--text{
    margin-bottom:3rem;
  }
  details{
    summary{
        outline:none;
    }
  }
  .nes-badge{
    font-size:0.7rem;
    padding:0;
    margin:0.5rem;
  
  }
  .nes-badge.is-splited{
    padding:0;
    margin:0.5rem;
    font-size:0.7rem !important;
  }
  .game--container{
    padding-top:15vh;
    @media screen and (min-width: 980px) {
      width:70%;
    }
    &--text{
      color:#222;
      min-width:100%;
    }
  }
  #textinput:focus{
    border-color:#f2f2f2;
  }