.navbar-toggler {
  &:focus {
    border: 0;
  }
  border: 0;
}
.dropdown {
  align-self: flex-end;
  &-item {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
.dropdown-menu{
  @media screen and (max-width:1200) {
    position: static !important;
  }
}