div{
  word-break: break-word;
}

.game--list {
  max-height: 80vh;
  overflow: auto;
}
.nes-avatar {
  width: 64px !important;
  height: 64px !important;
  image-rendering: pixelated;
}


.border {
  &-gold {
    border: 5px double $gold;
  }
  &-silver {
    border: 5px double $silver;
  }
  &-bronze {
    border: 5px double $bronze;
  }
}

.user{
  &:hover{
    background:#e4e4e4;
  }
}