.game--list{
    max-height: 80vh;
    overflow: auto;
  }
  .nes-avatar{
    width:64px !important;
    height:64px !important;
    image-rendering: pixelated;
  }
  .nes-table--row{
    transition: 0.3s all ease;
    &:hover{
      background:#212529;
      color:white;
      border-color: white !important;
      transition: 0.15s all ease;
    }
  }
  .border{
    &-gold{
      border:3px double  #AF9500;

    }
    &-silver{
      border:3px  double #B4B4B4;

    }
    &-bronze{
      border:3px  double #6A3805;
    }
  }