html,
body {
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background: #5a6988 !important;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-image: none;
  background-repeat: no-repeat;
  background-size: 8px auto;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background: #222;
}

small {
  font-size: 70% !important;
}
a {
  text-decoration: none !important;
  transition: 0.15s all ease-in;
  :hover {
    transition: 0.15s all ease-in;
  }
}

.router {
  flex: 1;
}
.nes-avatar {
  border: 2px solid #222;
}

.loading {
  text-align: center;
  width: auto;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text__small {
  font-size: 80%;
}

/* fixes bug where image pixels are spaced appart
https://github.com/nostalgic-css/NES.css/issues/434 */
.nes-container.is-rounded,
.nes-input, button,
.nes-table,
.nes-balloon {
  border-image-repeat: unset !important;
}
.nes-badge {
  width: 13em !important;
}

.nes-table {
  width: 99% !important;
}

.bg {
  &-gold {
    background-color: $gold;
  }
  &-silver {
    background-color: $silver;
  }
  &-bronze {
    background-color: $bronze;
  }
}

.color {
  &-gold {
    color: $gold !important;
    &:before {
      color: $gold !important;
    }
  }
  &-silver {
    color: $silver !important;
    &:before {
      color: $silver !important;
    }
  }
  &-bronze {
    color: $bronze !important;
    &:before {
      color: $bronze !important;
    }
  }
}
