html,body {
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white !important;
    background:$purple !important;
    font-size:14px;
  }
  small{
    font-size:70% !important;
  }
  a{
    text-decoration: none !important;
    transition: 0.15s all ease-in;
    :hover{
      transition: 0.15s all ease-in;
    }
  }
  
  .router{
    flex:1;
  }
  .nes-avatar{
    border:2px solid #222;
  }
  
  .loading{
    text-align: center;
    width:auto;
    height:100vh;
    width:100%;
    background: $purple;
    position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .bg__white{
      background:white;
  }
  .text__small{
    font-size:80%;
  }

/* fixes bug where image pixels are spaced appart
https://github.com/nostalgic-css/NES.css/issues/434 */
.nes-container.is-rounded, .nes-balloon{
    border-image-repeat:unset !important;
}
.nes-badge {
  width:13em !important;
}

.bg{
  &-gold{
    background-color: $gold;

  }
  &-silver{
    background-color: $silver;

  }
  &-bronze{
    background-color: $bronze;
  }
}

.color{
  &-gold{
    color:$gold !important;
    &:before{
      color:$gold !important;

    }
  }
  &-silver{
    color:$silver !important;
    &:before{
      color:$silver !important;

    }
  }
  &-bronze{
    color:$bronze !important;
    &:before{
      color:$bronze !important;

    }
  }
}
